<app-accordion-container #p>
  <app-accordion>
    <div class="title">
      Welcoem to first title
    </div>
    <div class="text">
      dummy text dummy text dummy text
    </div>
  </app-accordion>
  <app-accordion>
    <div class="title">
      Welcoem to Second title
    </div>
    <div class="text">
      not dummy text not dummy text
    </div>
  </app-accordion>

  <app-accordion>
    <div class="title">
      Welcoem to Second title
    </div>
    <div class="text">
      not dummy text not dummy text
    </div>
  </app-accordion>
</app-accordion-container>